{% extends "base.html" %} {% block title %}Classification{% endblock %} {% block head %} {{ super() }} {% endblock %} {% block page_content %}
<h1 style="text-align: center;" class="green-color">Models used in for this project</h1>
<div class="container">
    <div class="row green-color">
        <div class="col">
            <p>This purpose of this machine learning excersie is to correctly <strong>classify</strong> astronomical objects as either Stars, Galaxies or Quasars. To accomplish this task I trained several classification Machine Learning models including
                scalar vector machine, stochastic gradient descent, and RandomForrest.</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h1>Each Model Used The Cross_Val_Predict Method</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6 green-color">
            <h3>Model #1 - Stochastic Gradient Descent</h3>
            <button type="button" class="btn btn-info" onclick="createSGD()">Show Confusion Matrix on Training Data for SGD model.</button>
            <div id='sgd_conf' style="display: none;">Heres the sgd graph
            </div>
        </div>
        <div class="col-3"></div>
    </div>
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6 green-color">
            <h3>Model #2 - Support Vector Machine.</h3>
            <button type="button" class="btn btn-info" onclick="createSVM()">Show Confusion Matrix on Training Data for SVM</button>
            <div id='svm-conf' style="display: none;">Here the svm graph
            </div>
        </div>
        <div class="col-3"></div>
    </div>
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6 green-color">
            <h3>Model #2 - Random Forrest.</h3>
            <button type="button" class="btn btn-info" onclick="createForrest()">Show Confusion Matrix on Training Data for SVM</button>
            <div id='rf-conf' style="display: none;">Here the random forrest graph
            </div>
        </div>
        <div class="col-3"></div>
    </div>



</div>
{% endblock %} {% block scripts %}
<script type="text/javascript" src="/static/js/model.js"></script>
{% endblock %}